<%= div_for(comment) do %>
	<div class="comments_wrapper clearfix">
		<div class="pull-left">
			<p class="lead">
				<%= comment.body %>
			</p>
			<p>
				<small>Submitted <strong><%= time_ago_in_words(comments.created_at)%> ago</strong> by <%= comment.user.email %></small>
			</p>
		</div>
		<div class="btn-group pull-right">
			<% if comment.user == current -%>
				<%= link_to 'Destoy', comment, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
			<% end %>
		</div>
	</div>
<% end %>